body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f4f4f9;
}

.container {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

.flashcards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px; /* Adicionando margem no topo para espaço com o cabeçalho */
}

.flashcard {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(20% - 20px);
    min-height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.flashcard:hover {
    transform: scale(1.05);
    background-color: aqua;
}

.flashcard-content {
    text-align: center;
}

.flashcard-content p {
    margin: 0;
}

/* Responsividade */
@media (max-width: 1024px) {
    .flashcard {
        width: calc(25% - 20px);
    }
}

@media (max-width: 768px) {
    .flashcard {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 480px) {
    .flashcard {
        width: calc(50% - 20px);
        height: auto; /* Remover altura fixa para permitir expansão */
    }
}

/* Estilos específicos para dispositivos móveis */
@media only screen and (max-width: 768px) {
    .mobile .flashcard {
        cursor: default; /* Remover o cursor pointer */
    }
}
